.sd {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  padding-top: 0;
  padding-bottom: 0;
  background-color: $catskill-white;
  overflow-y: scroll;

  &-back {
    @extend %items-center;
    @extend %description-12;
    color: $cobalt;
    margin-bottom: 1.2rem;

    svg {
      width: 1.6rem;
      height: 1.6rem;
      margin-right: 0.4rem;
    }
  }

  &-tab {
    @extend %items-center;
    @extend %description-14;
    padding: 1rem 0;
    color: $oslo-gray;
    border: none;
    background: none;

    span:not(:empty) {
      margin-left: 0.6rem;
      padding: 0.2rem 0.85rem;
      background-color: $athens-gray-1;
      font-weight: 600;
      border-radius: 0.8rem;
      line-height: 1.08;
      color: inherit;
    }

    &--active {
      position: relative;
      font-weight: 500;
      color: $cobalt;

      &::after {
        content: "";
        position: absolute;
        bottom: -0.35rem;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        width: 100%;
        height: 0.3rem;
        background-color: $cobalt;
      }
    }

    &-container {
      @extend %items-center;

      > :not(:last-child) {
        margin-right: 1.6rem;
      }
    }
  }

  &-main {
    grid-column: 1/12;
    border-right: 0.1rem solid $athens-gray-1;

    &-header {
      background-color: $white;
      padding: 2.4rem 2.4rem 0rem 4rem;
      border-bottom: 0.1rem solid $athens-gray-1;

      &-title {
        @extend %items-center;
        margin-bottom: 1.6rem;

        h2 {
          margin-right: 1.6rem;
        }

        > div {
          padding: 0;
        }
      }
    }

    &-info {
      position: relative;
      background-color: $white;
      box-shadow: 0px 7px 17px rgba(0, 0, 0, 0.01);

      &-header {
        display: grid;
        padding-left: 2.4rem !important;
        grid-template-columns: repeat(3, 1fr);

        > :not(:last-child) {
          border-right: 0.1rem solid rgba(129, 134, 140, 0.2);
        }
      }

      &-tag {
        padding: 0.4rem 1.2rem;
        border: 0.1rem solid $athens-gray-1;
        width: fit-content;
        @extend %title-14;
        line-height: 1;

        border-radius: 1rem;

        &-container {
          padding: 0.8rem 1.6rem 0.8rem 4rem;
          border-top: 0.1rem solid $athens-gray-1;
          border-bottom: 0.1rem solid $athens-gray-1;
          background-color: $athens-gray-4;
          @extend %items-center;

          > :not(:last-child) {
            margin-right: 0.8rem;
          }
        }
      }

      &-item {
        padding: 2.4rem 1.6rem;

        &-title {
          @extend %title-16;
          display: inline-flex;
          align-items: center;
          color: $oslo-gray;

          span:not(:empty) {
            @extend %title-12;
            font-weight: 600;
            color: $burnt-sienna;
            padding: 0.2rem 0.4rem;
            border-radius: 1rem;
            background-color: $cinderella;
            margin-left: 1.6rem;
          }
        }

        &-dtl {
          margin-top: 1.6rem;
          @extend %title-20;
          color: $mine-shaft;
        }
      }

      &-dtl {
        position: relative;
        padding: 3.2rem 4rem 4rem;

        > :first-child {
          @extend %button-bg;
        }

        > :last-child {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: repeat(3, 1fr);
          gap: 5.2rem;
          width: 84%;
        }

        &-item {
          > :first-child {
            @extend %title-14;
            color: $rolling-stone;
            letter-spacing: 0.03em;
          }

          > :last-child {
            @extend %title-14;
            @extend %items-center;
            color: $mine-shaft;
            margin-top: 1rem;

            > :not(:last-child) {
              margin-right: 1rem;
            }
          }
        }
      }
    }

    &-imp {
      position: relative;
      margin: 3.2rem 0;
      padding: 5.2rem 3.2rem 3.2rem 4rem;
      background-color: $tara;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);

      &-action {
        position: absolute;
        top: -2rem;

        button {
          position: relative;
          padding: 1.3rem 3.2rem;
          border: none;
          background-color: $emerald;
          font-size: 1.5rem;
          font-weight: 500;
          color: $white;

          &::after {
            content: "";
            top: 0;
            left: -0.6rem;
            position: absolute;
            width: 0;
            height: 0;
            border-bottom: 2rem solid $vista-blue;
            border-left: 0.6rem solid transparent;
          }
        }
      }

      &-header {
        &-label {
          @extend %title-14;
          color: $rolling-stone;
          letter-spacing: 0.03em;
        }

        &-desc {
          @extend %title-24;
          font-weight: 700;
          margin-top: 1.2rem;
          color: $mine-shaft;
        }
      }

      &-grid {
        margin-top: 2.4rem;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 4rem;
        width: 84%;
      }

      > svg {
        position: absolute;
        color: $fringy-flower;
        bottom: 0;
        right: 0;
        width: 11.8rem;
        height: 15rem;
      }
    }

    &-srt {
      position: relative;
      margin: 3.2rem 0;
      padding: 3.2rem 5.6rem 3.2rem 4rem;
      background-color: $white;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);

      &-action {
        @extend %button-bg;
        top: 3.2rem;
      }

      &-header {
        &-title {
          @extend %title-20;
        }
      }

      &-grid {
        display: grid;
        gap: 4rem;
        margin-top: 3.2rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
      }

      &-clr {
        @extend %title-14;
        padding: 0.9rem 1rem;
        border: 0.1rem solid $rolling-stone;
        color: $rolling-stone;
        border-radius: 5rem;
        width: fit-content;

        &-container {
          @extend %items-center;
          margin-top: 3.6rem;

          > :not(:last-child) {
            margin-right: 0.8rem;
          }
        }
      }
    }
  }

  &-aside {
    grid-column: 12/17;
    background-color: $athens-gray-4;

    &-header {
      position: relative;
      padding: 6.2rem 2.4rem 2.1rem;
      border-bottom: 0.1rem solid $athens-gray-1;
      background-color: $white;

      &-float {
        position: absolute;
        top: 0;
        left: -0.8rem;

        button {
          position: relative;
          padding: 1.3rem 3.2rem;
          border: none;
          background-color: $cobalt;
          font-size: 1.5rem;
          font-weight: 500;
          color: $white;

          &::after {
            content: "";
            bottom: -0.3rem;
            left: 0rem;
            position: absolute;
            width: 0;
            height: 0;
            border-top: 0.3rem solid $indigo;
            border-left: 0.8rem solid transparent;
          }
        }
      }

      > svg {
        position: absolute;
        bottom: -0.1rem;
        color: $athens-gray;
        right: 0;
        width: 7.8rem;
        height: 10.3rem;
      }

      &-title {
        @extend %items-center;
        margin-bottom: 1.6rem;

        h3 {
          @extend %title-18;
          line-height: 1;
          color: $mine-shaft;
          margin-right: 1.2rem;
        }

        p {
          @extend %title-14;
          color: $cobalt;
        }
      }

      &-details {
        @extend %items-center;

        p {
          line-height: 1;
        }

        > :first-child {
          @extend %items-center;
          @extend %description-14;
          margin-right: 0.8rem;
          color: $mine-shaft;

          svg {
            width: 1.6rem;
            height: 1.6rem;
            margin-right: 0.4rem;
          }
        }

        > :last-child {
          @extend %title-14;
          color: $mine-shaft;
        }
      }
    }

    &-content {
      padding: 2.4rem 2rem;

      > :not(:last-child) {
        margin-bottom: 0.8rem;
      }

      > :last-child {
        .tgim-icon-line {
          display: none;
        }
      }
    }
  }
}
