.tgim {
  display: flex;

  &-icon {
    @extend %items-center;
    flex-direction: column;
    justify-content: center;
    margin-right: 1.6rem;

    > :first-child {
      @extend %items-center;
      justify-content: center;
      width: 2.4rem;
      margin-bottom: 0.8rem;
      height: 2.4rem;
      border-radius: 5rem;
      background-color: rgba(92, 198, 133, 0.2);
    }

    &-line {
      width: 0.1rem;
      opacity: 0.2;
      height: 2.4rem;
      background-color: $oslo-gray;
      &--36 {
        height: 3.6rem;
      }
      &--62 {
        height: 6.2rem;
      }
    }
  }

  &-cnt {
    padding-top: 0.2rem;

    &-title {
      @extend %title-14;
      color: $cobalt;
      letter-spacing: 0.35px;
    }

    &-count {
      @extend %title-12;
      letter-spacing: 0.03em;
      color: $mine-shaft;

      span {
        font-weight: 600;
      }
    }

    &-ld {
      @extend %items-center;
      @extend %description-12;
      color: $mine-shaft;

      > :first-child {
        margin-right: 0.8rem;
        opacity: 0.5;
        letter-spacing: 0.03em;
      }

      > :last-child {
        @extend %items-center;
        span {
          display: inline-block;
          margin: 0 0.8rem;
          background-color: $mine-shaft;
          width: 0.4rem;
          border-radius: 1rem;
          height: 0.4rem;
        }
      }
    }

    > :nth-child(2) {
      margin-top: 0.4rem;
    }

    > :nth-child(3) {
      margin-top: 0.8rem;
    }
  }

  &--inactive {
    .tgim-cnt-title {
      color: $oslo-gray;
    }

    .tgim-icon {
      > :first-child {
        background-color: $athens-gray-4;
        border: 0.1rem solid rgba(129, 134, 140, 0.4);
      }

      svg path {
        fill: $iron;
      }
    }
  }
}
