//titles

%title-24 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1;
}

%title-20 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
}

%title-18 {
  font-size: 1.8rem;
  font-weight: 600;
}

%title-16 {
  font-size: 1.6rem;
  font-weight: 500;
}

%title-14 {
  font-size: 1.4rem;
  font-weight: 500;
}

%title-12 {
  font-size: 1.2rem;
  font-weight: 500;
}
// description

%description-16 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 500;
  letter-spacing: -0.02em;

  @media screen and (min-width: 768px) {
    font-size: 1rem;
    line-height: 1.75rem;
  }
}

%description-14 {
  font-size: 1.4rem;
  line-height: 1;
}

%description-12 {
  font-size: 1.2rem;
  line-height: 1;
}

%items-center {
  display: flex;
  align-items: center;
}

%button-bg {
  position: absolute;
  right: -0.244rem;
  top: 4rem;

  button {
    @extend %items-center;
    @extend %title-14;
    color: $white;
    position: relative;
    background: none;
    border: none;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-right: 1.4rem;
    padding-left: 2.4rem;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 1;

    svg {
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  &::after {
    top: 0;
    position: absolute;
    width: 113%;
    height: 100%;
    content: url(/assets/svgs/ButtonBg.svg);
  }
}

@mixin loadingSkeleton() {
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $oslo-gray;
    animation: skeleton 2s linear infinite alternate;
  }

  @keyframes skeleton {
    from {
      opacity: 0.2;
    }
    to {
      opacity: 0.5;
    }
  }
}
