// colours
$catskill-white: #f9fafc;
$rolling-stone: #78797a;
$red: #ff5a5a;
$periwinkle-gray: #cddaed;
$cobalt: #0746a6;
$raven: #78808d;
$dusty-gray: #989898;
$periwinkle-gray: #cddaed;
$burnt-sienna: #eb5757;
$cinderella: #fbdddd;
$vista-blue: #92d9ae;
$iron: #cdcfd1;
$tara: #def4e7;

$blue: #0069ff;
$white: #ffffff;
$black: #000000;
$indigo: #5a84c4;
$emerald: #5cc685;
$fringy-flower: #aee3c2;

$smalt: #00398f;
$white-lilac: #f7f7fc;
$cadet-blue: #a0a3bd;

$athens-gray: #edeef1;
$oslo-gray: #81868c;
$athens-gray-1: #e4e6ea;
$athens-gray-2: #eaecf0;
$athens-gray-3: #f2f4f7;
$athens-gray-4: #fafafb;

$gallery: #f0f0f0;
$mine-shaft: #303030;
$emperor: #535353;

// fonts
$font-camphorPro: "Camphor Pro";

// ease
$ease: cubic-bezier(0.455, 0.03, 0.515, 0.955);
